<!-- This view is for the main welcome / home page and provides a way to log in or sign up only as well as a button to the admin page -->

<video src="assets/graphics/Random_Legs_Walking_Pullfocus.mp4" id="bgvid" autoplay loop></video>

<button ui-sref="admin" class="topButton">Admin</button>

<h1 class="title">Welcome</h1>

<h1 class="title">Get Ready to Embark on a Great Adventure</h1>

<div class="container">

	<div>
		<p class="homeinfotitle">A Journey of Compassion</p>
		<p class="homeinfo" ng-hide="register">The ability to connect and the effort to understand others has become blurred. In a world that is disconnected by differences and fear, compassion becomes bogged down by judgements and stereotypes passed as facts. Log in to continue your journey or sign up to take one. Signing up will allow you to interact with those you will meet.</p>
	</div>

	<br>

	<div class=buttonbar>
		<button ui-sref="home.login" class="login" ng-hide="loginButtons" ng-hide="register" ng-click="loginButtons=!loginButtons">LOG IN TO CONTINUE YOUR JOURNEY</button>
		<button ui-sref="home.signup" ng-hide="loginButtons" ng-hide="register" ng-click="loginButtons=!loginButtons" class="login">SIGN UP TO TAKE THE JOURNEY</button>

	</div>

	<br> 

<!-- This ui-view takes you to nested views of either logging-in buttons showing only or signing up buttons only. These butons have no functions and are only as ui-srefs
 -->
	<ui-view></ui-view>


</div>
