<!-- This is the view for the Scenarios page that has a nested view of selected story -->

<video class="videoOne" src="assets/graphics/Santa_Monica_Art_02.mp4" id="bgvid" autoplay></video>
	
<div class="scenarioContainer">

	<div class="repeatscenarios">
		
		<div ng-repeat="story in scenarios">
			<button ng-click="getSelected(story._id)">
				<h2>{{story.title}}</h2>
				<p>{{story.scenario}}</p>
		</div>
	</div>

	<!-- This is the nested view for the selected story -->
	<div ui-view></div>

	<div class="repeatedimages">
		
		<div ng-repeat="story in scenarios">
			<img src={{story.imageId}}>
		</div>

	</div>


</div>
	