<!-- This is the view for the Shar Your Story page which adds a story including an image and also adds a problem -->


<video src="assets/graphics/HandStroking.mp4" id="bgvid" autoplay></video>

<p class="smallId"><span>Hi </span><span>{{ userObj.firstname }}</span></p>
<button ui-sref="user" class="topButton">My Page</button>
<br>
<button class="topButton">Log Out</button>

<div>

	<div>
		<div class="sharebuttonbar">
			<p class="homeinfotitle">Share your story</p>
			<input class="submitstoryimage" class-"firstname" ng-model="title" placeholder="FIRST NAME">
			<input class="sharestory" ng-model="scenario" placeholder="SHARE YOUR LIFE EXPERIENCE">
			<input class="sharestory" ng-model="resolution" placeholder="SHARE THE REST OF THE STORY">
			<input  type="file" images="images" accept="image/*" class="submitstoryimage" ng-model="imageId" placeholder="UPLOAD IMAGE" fileread>
			<button class="submitstory" ng-click="addScenario(title, scenario, resolution, imageId)">SUBMIT STORY</button>
		</div>
		
		<br>

		<div class="sharebuttonbar">
			<input class="submitstoryimage" placeholder="DROPDOWN OF SUBJECTS">
			<input class="sharestory" placeholder="COMMENT">
			<input class="sharestory" placeholder="HOW IT FELT">
			<button class="submitstory" ng-click="">SUBMIT COMMENT</button>
		</div>
	</div>
	
</div>



