<!-- This is the view for the Test view-->


<video class="vidoeOne" src="assets/graphics/DSC_0951MOV.mp4" id="bgvid" autoplay></video>

<button ui-sref="user" class="topButton">My Page</button>
<br>
<button class="topButton">Log Out</button>

<div class="testContainer">
	
	<div class="questionContainer">

	<div ng-repeat="">
		<p>{{question}}</p>
		<input type="checkbox" name="answerA" ng-model="answerA" value="false">
		<input type="checkbox" name="answerB" ng-model="answerB" value="false">
		<input type="checkbox" name="answerC" ng-model="answerC" value="false">
		<input type="checkbox" name="answerD" ng-model="answerD" value="false">
		<input type="checkbox" name="answerE" ng-model="answerE" value="false">
	</div>
		
	</div>
</div>