<!-- This is the view for the User's page -->


<video src="assets/graphics/SilhouetteWalk.mp4" id="bgvid" autoplay></video>

<button ui-sref="user" class="topButton">My Page</button>
<br>
<button class="topButton">Log Out</button>

<div class="userContainer">

	<div>	

	 	<p class="userwelcome title"><span>Hello </span><span>{{ userObj.firstname }}</span><span>!</span></p>

	 	<br>

	 <div class="userPContainer">
	
		<p class="userP">If you have signed up, you have embarked on a journey of discovery of how much compassion you feel for those around you. Learn about there lives, their hurts, the hard secrets they carry. Learn how to feel more compassion and understanding for situations and lives that may be very different from your own. You may even connect to those hard secrets that lie in your own heart. Walk through this site and experience others. Look in their eyes, put yourself in their shoes and learn how much you care for your fellow human beings no matter who they are or what their lives are like. If you are returning, welcome back. Congratulations, you care!</p>
	</div>

	

	 <div class="userSelectedContainer">
		<div ng-repeat="story in userObj.stories" class="userSelectedChild">
			<div>
				<p class="userSelectedTitle">{{story.title}}</p>
			</div>
				
			<div class="smallEyeContainer">
				<img class="smallEyeImage" src="{{story.imageId}}">
			</div>
			
			<div class="userSelected">
				 <p>{{story.scenario}}</p>
			</div>

			<div>
				<button>Click to See the Rest of the Story</button>
			</div>

			<div class="userSelected">
				<p>{{story.resolution}}</p>
			</div>

			<div class="largeImageContainer">
				<img class="largeImage" src="{{story.imageId}}">
			</div>

		</div>
		
</div>
		
	</div>