<!-- This is the view for the UserStories -->

<video src="assets/graphics/feet.mp4" id="bgvid" autoplay></video>

<button class="topButton">Log Out</button>
<p class="smallId"><span>Hi </span><span>{{ userObj.firstname }}</span></p>

<div class="combinedContainer">
	
	<div class="repeatedstories">
		
		<div ng-repeat="userStory in userStories">
			<p>{{userStory.partOne}}</p>
			
		</div>


	<!--This is the nested view for the personal story that is populated from userstories and user schemas
	  -->
		<div ui-view></div>
			
		<div class="subjects">
			
			<div ng-repeat="situation in subjects">
				<h2>{{situation.subject}}</h2>
				<p>{{situation.comment}}</p>
				<p>{{situation.response}}</p>
			</div>

		</div>

	</div>
	
</div>