html, body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

/*Stying for the navigation bar*/

.navBar {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	display: flex;
	justify-content: space-around;
}

.barMenu {
    padding: 0px;
    margin: 0 0 10px 0;
    position: relative;
}
.barMenu li {
    font-size: 35px;
    display: block;
    text-align: center;
}
.barMenu li a {
	color: transparent;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.barMenu:hover li a {
	text-shadow: 0px 0px 6px #fff;
}
.barMenu li a:hover {
	color: #fff;
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
}

.active {
	opacity: 0;
	font-size: 5px;
}

video {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    display: block;
    text-align: center;
}

.videoOne {
	opacity: .8;
}

/*Styling for Welcome Page*/

.title {
	color: #fff;
	font-size: 65px;
	text-align: center;
	vertical-align: center;
	margin-bottom: -20px;
}

.first {
	margin-top: -40px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	flex-direction: column;

}

.homeinfotitle {
	color: #fff;
	font-size: 40px;
	text-align: center;
	float: center;

}

.homeinfo {
	color: transparent;
	font-size: 35px;
	vertical-align: center;
	text-align: center;
	float: center;
	text-shadow: 0px 0px 6px #fff;
	margin-right: 50px;
	margin-left: 50px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.homeinfo:hover {
	text-shadow: 0px 0px 1px #fff;
	padding-left: 10px;
}

.topButton {
	height: 75px;
	width: 150px;
	border-radius: 15px;
	border: 1px black solid;
	padding: 20px;
	background-color: #fff;
	font-size: 25px;
	opacity: 0.3;
	position: relative;
	top: -200px;
	margin-left: 40px;
	text-align: center;
	vertical-align: center;
}

.adminButton {
	height: 75px;
	width: 150px;
	border-radius: 15px;
	border: 1px black solid;
	padding: 20px;
	background-color: #fff;
	font-size: 25px;
	opacity: 0.3;
	position: relative;
	top: -200px;
	margin-left: 40px;
	text-align: center;
	vertical-align: center;
}

/*styling for User page*/

.smallId {
	color: #fff;
	font-size: 30px;
	vertical-align: left;
	margin-left: 65px;
	position: relative;
	top: -260px;
	margin-bottom: -10px;

}

.userP {
	font-size: 30px;
	vertical-align: center;
	text-align: center;
	float: center;
	margin-right: 50px;
	margin-left: 50px;
	font: Helvetica;
}
	
.userPContainer {
	background-color: #fff;
	opacity: 0.5;
	float: center;
	margin-right: 100px;
	margin-left: 100px;
	border-radius: 25px;
	padding: 5px;
}

.userContainer {
	display: flex;
	float: center;
	margin-top: -200px;
}

.userscenarios {
	height: 80%;
	width: 15%;
	opacity: 0.5;
	border: 10px solid black;
	background-color: white;
	text-align: center;
	float: left;
	vertical-align: left;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
}

.userSelectedContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 60%;
	}

.userSelectedChild {
	margin: 0 auto;
	height: 600px;
	width: 300px;
	border: 1px solid black;
	background-color: white;
	opacity: 0.5;
	text-align: center;
	padding: 5px;
	vertical-align: center;
	/*position: absolute;*/
	margin-left: 40px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.userSelected {
	font-size: 15px;
	display: block;
}

.userSelectedTitle {
	font-size: 25px;
	text-transform: uppercase;
}

.selectedContainer:hover {
	opacity: .8;
}

.smallEyeContainer {
	height: 100px;
	width: 300px;
	overflow: hidden;
	vertical-align: center;
	float: center;
	position: relative;
}

.smallEyeImage {
	vertical-align: center;
    min-height: 100%;
    min-width: 100%;
    object-fit: fill;
}


/*styling for Sign Up page*/

.buttonbar {
	display: flex;
	justify-content: space-between;
}

.loginbuttons {
	height: 50px;
	width: 250px;
	border-radius: 25px;
	border: 1px black solid;
	padding: 20px;
	background-color: #fff;
	font-size: 25px;
	opacity: 0.5;
	margin-right: 25px; 
}

.login {
	height: 110px;
	width: 300px;
	border-radius: 25px;
	border: 1px black solid;
	padding: 20px;
	background-color: #fff;
	font-size: 25px;
	opacity: 0.5;
	text-align: center;
	vertical-align: center;
	margin-right: 25px;
	text-decoration: none;
}


.userwelcome {
	font-size: 100px;
}

/*styling for About page*/

.infocontainer {
	display: inline-block;
	margin-top: 10px;
	margin-right: 100px;
}

.infotitle {
	color: #fff;
	font-size: 60px;
	text-align: center;
	float: center;
	margin-top: -80px;

}

.infopic {
	height: 400px;
	width: 400px;
	opacity: 0.7;
	margin-left: 150px;
	border: 2px solid #fff;
}

.infopic:hover {
	opacity: 1;
}

.info1 {
	color: #fff;
	font-size: 40px;
	vertical-align: right;
	text-align: right;
	float: right;
	margin-right: 150px;
	margin-left: 650px;
	margin-top: -450px;
}

.info2 {
	color: #fff;
	font-size: 40px;
	vertical-align: right;
	text-align: right;
	float: right;
	margin-right: 150px;
	margin-left: 150px;
	margin-top: -15px;
}

/*Styling for Scenarios and SelectedStory*/

.scenarioContainer {
	display: flex;
	justify-content: left;
	flex-direction: row;
	margin: -100px 40px 0 40px;
}

.repeatedContainer {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
}

.repeatedScenarios {
	height: 110px;
	width: 300px;
	border-radius: 25px;
	border: 1px black solid;
	margin: 20px;
	background-color: #fff;
	font-size: 25px;
	background-color: white;
	text-align: center;
	opacity: 0.3;
	text-transform: uppercase;
}

.repeatedScenarios:hover {
	opacity: 0.8;
}


.selectedContainer {
	display: flex;
	align-items: center;
	/*vertical*/
	justify-content: flex-start;
	align-content: flex-start;
	flex-direction: column;
	height: 1200px;
	width: 1200px;
	border: 1px solid black;
	background-color: white;
	opacity: 0.3;
	text-align: center;
	padding: 15px;
	vertical-align: center;
	position: absolute;
	margin-left: 100px;
	text-transform: capitalize;
}

.selected {
	font-size: 30px;
	display: block;
}

.selectedTitle {
	font-size: 45px;
	text-transform: uppercase;
}

.selectedContainer:hover {
	opacity: .8;
}

.eyeContainer {
	height: 250px;
	width: 70%;
	overflow: hidden;
	vertical-align: center;
	float: center;
	position: relative;
}

.eyeImage {
	vertical-align: center;
    min-height: 100%;
    min-width: 100%;
    object-fit: fill;
}

/*styling for User Stories page*/

.combinedContainer {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.repeatedstories {
	height: 80%;
	width: 15%;
	opacity: 0.5;
	border: 1px solid black;
	background-color: white;
	text-align: center;
	float: left;
	vertical-align: left;
	display: flex;
	flex-direction: column;
}


.combined {
	height: 80%;
	width: 60%;
	border: 1px solid black;
	background-color: white;
	opacity: 0.5;
	text-align: center;
	vertical-align: center;
	float: left;
	margin-left: 50px;
}

.subjects {
	height: 80%;
	width: 15%;
	opacity: 0.5;
	border: 1px solid black;
	background-color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	float: right;
	margin-right: 50px;
}

.submitUserFavorite {
	height: 75px;
	width: 400px;
	border-radius: 25px;
	border: 1px black solid;
	padding: 20px;
	background-color: #fff;
	font-size: 25px;
	opacity: 0.7;
	float: center; 
	flex-grow: 2;
	margin-bottom: 25px;
}

/*styling for Test page*/

.testContainer {
	display: flex;
	align-items: center;
	height: 1200px;
	width: 1200px;
	border: 1px solid black;
	background-color: white;
	opacity: 0.5;
	text-align: center;
	vertical-align: center;
	position: absolute;
	margin-left: 100px;
	text-transform: capitalize;
}

.questionContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 10px black solid;
}


.testcontainer:hover {
	opacity: 1;
}

/*styling for Share page*/

.sharebuttonbar {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.sharetitle {
	color: #fff;
	font-size: 60px;
	text-align: center;
	float: center;
	margin-top: -80px;
	margin-bottom: -20px;

}

.shareinfo {
	color: #fff;
	font-size: 35px;
	text-align: center;
	float: center;
}

.sharestory {
	height: 110px;
	width: 1000px;
	border-radius: 25px;
	border: 1px black solid;
	padding: 20px;
	background-color: #fff;
	font-size: 25px;
	opacity: 0.7;
	float: center; 
	flex-grow: 2;
	margin-bottom: 25px;
}

.submitstory {
	height: 100px;
	width: 300px;
	border-radius: 25px;
	border: 1px black solid;
	padding: 20px;
	background-color: #fff;
	font-size: 25px;
	opacity: 0.7;
	text-align: center;
	vertical-align: center;
	text-decoration: none;
	float: center;
	margin-bottom: 25px;
}

.submitstoryimage {
	height: 50px;
	width: 300px;
	border-radius: 25px;
	border: 1px black solid;
	padding: 20px;
	background-color: #fff;
	font-size: 25px;
	opacity: 0.7;
	text-align: center;
	vertical-align: center;
	text-decoration: none;
	float: center;
	margin-bottom: 25px;
}

.firstname {
	text-transform: uppercase;
}

.shareBreak {
	display: block;
	border-style: inset;
	border-radius: 10px;
	color: #fff;
	border-width: 10px;
	margin-bottom: 20px;

}

/*styling for Admin page*/

.adminTitle {
	font-size: 25px;
	text-decoration: underline;
}

.adminContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 60%;
}

.usersContainer {
	margin: 0 auto;
	height: 600px;
	width: 300px;
	border: 1px solid black;
	background-color: white;
	opacity: 0.5;
	text-align: center;
	padding: 5px;
	vertical-align: center;
	margin-left: 40px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
